<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center titulo">Recuperar Contraseña</h3>
                    <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
                        <div class="mb-3">
                            <input type="text" formControlName="email" class="form-control form-control-lg" placeholder="Ingrese su correo">
                            <div class="text-danger" *ngIf="forgetForm.get('email')?.hasError('required')  && forgetForm.get('email')?.touched">
                                El correo <strong>es obligatorio</strong>
                            </div>
                            <div class="text-danger" *ngIf="forgetForm.get('email')?.hasError('email')  && forgetForm.get('email')?.touched">
                                El correo <strong>es invalido</strong>
                            </div>
                        </div>
                    </form>
                    <button routerLink="/user" class="btn btn-secondary btn-lg">Regresar</button>
                    <button type="submit" [disabled]="forgetForm.invalid" class="btn btn-primary btn-lg float-end">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>