<div class="d-flex justify-content-center mt-3">
    <button class="btn-principal btn-quizz">Nuevo</button>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Titulo </th>
                                <th> Cant Preguntas </th>
                                <th> Codigo </th>
                                <th> Acciones </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Revista panini</td>
                                <td>10</td>
                                <td><span class="badge bg-black">UNODOS</span></td>
                                <td><i class="fas fa-solid fa-magnifying-glass"></i>
                                    <i class="fas fa-chart-line"></i>
                                    <i class="fas fa-solid fa-trash"></i>
                                
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>

</div>